@model nus.iss.crs.pl.Models.CRForm


<div class="col-md-4">
    <blockquote>
        <p>Please select the class.</p>
    </blockquote>
    <div class="form-group">
        <label for="ClassCode">Classes:</label>
        @Html.DropDownListFor(x => x.ClassCode, new SelectList(ViewBag.ClassList as System.Collections.IEnumerable, "Value", "Name", new { @class = "form-control" }))
    </div>

    <blockquote>
        <p>Participant Info.</p>
    </blockquote>
    <div class="form-group">
        <span style="color: red;font-weight: bolder;">(required*)</span><label for="idNumber">ID Number</label>
        @Html.TextBoxFor(x => x.IDNumber, new { @class = "form-control", @placeholder = "ID Number" })
        @Html.ValidationMessageFor(x => x.IDNumber)
    </div>
    <div class="form-group">
        <select class="form-control" id="salutation" name="salutation">
            <option value="MR">MR</option>
            <option value="MRS">MRS</option>
        </select>
    </div>
    <div class="form-group">
        <span style="color: red;font-weight: bolder;">(required*)</span><label for="fullName">Full Name</label>
        @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", @placeholder = "full name" })
        @Html.ValidationMessageFor(x => x.FullName)
    </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <div class="form-group">
        <span style="color: red;font-weight: bolder;">(required*)</span><label for="Nationality">Nationality</label>
        @Html.TextBoxFor(x => x.Nationality, new { @class = "form-control", @placeholder = "Nationality" })
        @Html.ValidationMessageFor(x => x.Nationality)
    </div>
    <div class="form-group">
        <span style="color: red;font-weight: bolder;">(required*)</span><label for="DateOfBirth">DateOfBirth</label>
        <input type="date" class="form-control" id="DateOfBirth" name="DateOfBirth" placeholder="">
        @Html.ValidationMessageFor(x => x.DateOfBirth)
    </div>
    <div class="form-group">
        <span style="color: red;font-weight: bolder;">(required*)</span><label for="Email">Email</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email" })
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="form-group">
        <span style="color: red;font-weight: bolder;">(required*)</span><label for="ContactNumber">ContactNumber</label>
        @Html.TextBoxFor(x => x.ContactNumber, new { @class = "form-control", @placeholder = "ContactNumber" })
        @Html.ValidationMessageFor(x => x.ContactNumber)
    </div>
    <div class="form-group">
        <label for="DietaryRequirement">DietaryRequirement</label>
        @Html.TextBoxFor(x => x.DietaryRequirement, new { @class = "form-control", @placeholder = "DietaryRequirement" })
    </div>
</div>
<div class="col-md-4">
    <blockquote>
        <p>Working Info.</p>
    </blockquote>
    <div class="form-group">
        <label for="EmploymentStatus">EmploymentStatus</label>
        @Html.TextBoxFor(x => x.EmploymentStatus, new { @class = "form-control", @placeholder = "EmploymentStatus" })
    </div>
    <div class="form-group">
        <label for="Company">Company</label>
        @Html.TextBoxFor(x => x.Company, new { @class = "form-control", @placeholder = "Company" })
    </div>
    <div class="form-group">
        <label for="JobTitle">JobTitle</label>
        @Html.TextBoxFor(x => x.JobTitle, new { @class = "form-control", @placeholder = "JobTitle" })
    </div>
    <div class="form-group">
        <label for="Department">Department</label>
        @Html.TextBoxFor(x => x.Department, new { @class = "form-control", @placeholder = "Department" })
    </div>
    <div class="form-group">
        <label for="OrganizationSize">OrganizationSize</label>
        @Html.TextBoxFor(x => x.OrganizationSize, new { @class = "form-control", @placeholder = "OrganizationSize" })
    </div>
    <div class="form-group">
        <label for="SalaryRage">SalaryRage</label>
        @Html.TextBoxFor(x => x.SalaryRage, new { @class = "form-control", @placeholder = "SalaryRage" })
    </div>
</div>
<div class="col-md-4">
    <blockquote>
        <p>Billing Info.</p>
    </blockquote>
    <div class="form-group">
        <label for="Sponsorship">Sponsorship</label>
        <select class="form-control" id="Sponsorship" name="Sponsorship">
            <option value="Self">Self</option>
            <option value="Company">Company</option>
        </select>
    </div>
    <div class="form-group">
        <span style="color: red;font-weight: bolder;">(required*)</span><label for="BillingAddress">BillingAddress</label>
        @Html.TextBoxFor(x => x.BillingAddress, new { @class = "form-control", @placeholder = "BillingAddress" })
        @Html.ValidationMessageFor(x => x.BillingAddress)
    </div>
    <div class="form-group">
        <span style="color: red;font-weight: bolder;">(required*)</span><label for="BillingPersonName">BillingPersonName</label>
        @Html.TextBoxFor(x => x.BillingPersonName, new { @class = "form-control", @placeholder = "BillingPersonName" })
        @Html.ValidationMessageFor(x => x.BillingPersonName)
    </div>
    <div class="form-group">
        <span style="color: red;font-weight: bolder;">(required*)</span><label for="BillingAddressCountry">BillingAddressCountry</label>
        @Html.TextBoxFor(x => x.BillingAddressCountry, new { @class = "form-control", @placeholder = "BillingAddressCountry" })
        @Html.ValidationMessageFor(x => x.BillingAddressCountry)
    </div>
    <div class="form-group">
        <span style="color: red;font-weight: bolder;">(required*)</span><label for="BillingAddressPostalCode">BillingAddressPostalCode</label>
        @Html.TextBoxFor(x => x.BillingAddressPostalCode, new { @class = "form-control", @placeholder = "BillingAddressPostalCode" })
        @Html.ValidationMessageFor(x => x.BillingAddressPostalCode)
    </div>
</div>

