@using Microsoft.AspNet.Identity
@if (ViewBag.AfterLogin)
{
    if (nus.iss.crs.pl.AppCode.Session.SessionHelper.Current.RoleName.ToUpper().Equals("HR"))
    {
        <a href="@Url.Action("ViewHRRegister","CourseRegister")">Registration Record</a>
        <a href="@Url.Action("ViewCompanyEmployee","CourseRegister")">All Employee</a>
    }
    else
    {
        <a href="@Url.Action("ViewIndividualRegister","CourseRegistration")">My Registration</a>
    }
    
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#">@string.Format("Hello " + ViewBag.UserName + "!")</a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Logon", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
