@{
    ViewBag.Title = "About";
}
@model nus.iss.crs.dm.Course.Course
@section scripts{
    <script type="text/javascript">
        $(function () {

            $("#btnRegister").click(function () {
                if (global.isLogin == 'False') {
                    if (confirm("Continue without Login?") == true) {
                        window.location.href = "/CourseRegister/IndividualReigster?code=@Model.Code";
                    } else {
                        window.location.href = "/home/logon?toPage=?code=@Model.Code";
                    }
                } else {
                    if (global.userType == 'HR') {
                        window.location.href = "/CourseRegister/HRRegister?code=@Model.Code";
                    } else {
                        window.location.href = "/CourseRegister/IndividualReigster?code=@Model.Code";
                    }
                }
            });
        });
    </script>
}
<div class="container-fluid">
    <h1 class="page-header">@Model.CourseTitle</h1>

    <div class="row">
        <div class="col-md-8">
            <p>Instructor: @Model.Instructor.Name</p>
            <p>Duration: @Model.Duration</p>
            <p>Fee: @Model.Fee</p>
            <h2>Course Overview</h2>
            <p class="lead">
                @Model.Description
            </p>
        </div>
        <div class="col-md-4">
            <h3>Upcoming Classes</h3>
            <div class="row">
                <div class="col-md-8">
                    <strong>Schedule</strong>
                </div>
                <div class="col-md-4">
                    <strong>Duration</strong>
                </div>
            </div>
            @if (Model.CourseClasses.Count > 0)
            {
                foreach (var item in Model.CourseClasses)
                {
                    <div class="row">
                        <div class="col-md-8">
                            @item.StartDate.ToString("MMM dd, yyyy")
                            to
                            @item.EndDate.ToString("MMM dd, yyyy")
                        </div>
                        <div class="col-md-4">
                            @Model.Duration
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-12">
                        <input type="button" value="REGISTER" id="btnRegister" class="btn btn-default" />
                    </div>
                </div>
            }
            else
            {
                <div class="row"><div class="col-md-12">No Data Yet.</div></div>
            }
        </div>
    </div>
</div>